.partners {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 344px;

  &__box {
    margin-bottom: 20px;
  }

  &__title {
    max-width: 325px;

    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    list-style: none;
    padding: 0;
  }

  &__logo-item {
  }

  &__logo {
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    //
    max-width: 1200px;
    padding-left: 5;
    padding-right: 5;
    margin-bottom: 160px;
    gap: 20px;

    &__box {
      margin: 0 auto;
      margin-bottom: 0px;
      max-width: 390px;
    }

    &__title {
      max-width: 390px;

      font-weight: 700;
      font-size: 48px;
      line-height: 110%;
    }

    &__description {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
    }

    &__logos {
      max-width: 540px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: flex-start;
      padding: 0px;
      gap: 32px 48px;

      // justify-content: space-between; // Распределяем логотипы по ширине
      // gap: 40px; // Увеличиваем расстояние между логотипами
    }

    &__logo-item {
      // flex: 1 1 calc(33.333% - 40px); // Логотипы будут занимать треть ширины
      // max-width: 200px; // Ограничиваем максимальную ширину логотипов
    }

    &__logo {
      // width: 100%; // Логотипы будут растягиваться по ширине контейнера
      // height: auto; // Сохраняем пропорции изображений
    }
  }
}
