$font-family-main: 'DM Sans', sans-serif;

$font-size-large: 48px;
$font-size-medium: 24px;
$font-size-small: 16px;

$font-size-desktop-h2: 48px;
$font-size-mobile-h2: 28px;

$font-size-desktop-p: 20px;
$font-size-mobile-p: 16px;

$font-size-desktop-bold-numbers: 64px;
$font-size-mobile-bold-numbers: 40px;

$font-size-desktop-feature-h3: 24px;
$font-size-mobile-feature-h3: 16px;

$font-size-secondary-p: 16px;
$font-size-mobile-secondary-p: 14px;

$font-size-h2-clients-say: 64px;

$line-height-desktop-h2: 110%;
$line-height-mobile-h2: 110%;

$line-height-desktop-p: 130%;
$line-height-mobile-p: 130%;

$line-height-desktop-bold-numbers: 110%;
$line-height-mobile-bold-numbers: 110%;

$line-height-desktop-feature-h3: 130%;
$line-height-mobile-feature-h3: 130%;

$line-height-mobile-secondary-p: 150%;
$line-height-h2-clients-say: 110%;
