:root {
  --primary-color: #6fa991;
  --secondary-color: #bdd3bd;
  --primary-text-color: #36384f;
  --light-color: #ffffff;
  --primary-bg-color: #f2efdb;
}

// :root {
//   --primary-color: #6fa991;
//   --secondary-color: #bdd3bd;
//   --dark-blue: #36384f;

//   --font-main: 'DM Sans', sans-serif;

//   --font-size-large: 48px;
//   --font-size-medium: 24px;
//   --font-size-small: 16px;

//   --spacing-small: 8px;
//   --spacing-medium: 16px;
//   --spacing-large: 32px;
// }
